* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: ghostwhite;
	text-align: center;
	min-width: 400px;
}
.button-el {
	display: flex;
	
}
.btn-el,
.btn-del {
	padding: 5px 20px;
	background-color: lightgreen;
	border: none;
	margin: 10px;
}
.btn-del {
	background-color: darksalmon;
}
.link-el {
	margin: 10px;
	padding: 5px 10px;
}
li {
	list-style-type: none;
	text-align: start;
}

a {
	color: black;
	text-decoration: none;
}
.btn-el:hover {
	background-color: lightcoral;
}
.btn-del:hover {
	background-color: crimson;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
