* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: ghostwhite;
	text-align: center;
}
.btn-el {
	padding: 5px 20px;
	background-color: lightgreen;
	border: none;
	margin: 10px;
}
.link-el {
	margin: 10px;
	padding: 5px 10px;
}
.btn-el:hover {
	background-color: lightcoral;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
